<div class="tabela" *ngIf="book">
  <div>
    <span><strong>Título: </strong></span>
    <span>{{book.title}}</span>
  </div>
  <div>
    <span><strong>Autor: </strong></span>
    <span>{{book.author}}</span>
  </div>
  <div>
    <span><strong>Editora: </strong></span>
    <span>{{book.publisher}}</span>
  </div>
  <div>
    <span><strong>Data de Lançamento: </strong></span>
    <span>{{book.releaseDate}}</span>
  </div>
  <div>
    <span><strong>Valor: </strong></span>
    <span>{{book.value}}</span>
  </div>
</div>
