<form (ngSubmit)="onSubmit(bookForm)"[formGroup]="bookForm">
  <div>
    <label for="title">Título: </label>
    <input type="text" formControlName="title" name="title" id="title" required />
    <span *ngIf="bookForm.controls.title.touched && !bookForm.controls.title.valid">Informe um Título</span>
  </div>
  <div>
    <label for="author">Autor: </label>
    <input type="text" formControlName="author" name="author" id="author" required />
    <span *ngIf="bookForm.controls.author.touched && !bookForm.controls.author.valid">Informe um Autor</span>
  </div>
  <div>
    <label for="publisher">Editora: </label>
    <input type="text" formControlName="publisher" name="publisher" id="publisher" required />
    <span *ngIf="bookForm.controls.publisher.touched && !bookForm.controls.publisher.valid">Informe uma Editora</span>
  </div>
  <div>
    <label for="releaseDate">Data de Lançamento: </label>
    <input type="date" formControlName="releaseDate" name="releaseDate" id="releaseDate" required />
    <span *ngIf="bookForm.controls.releaseDate.touched && !bookForm.controls.releaseDate.valid">Informe uma Data de Lançamento</span>
  </div>
  <div>
    <label for="value">Valor: </label>
    <input type="number" formControlName="value" name="value" id="value" required />
    <span *ngIf="bookForm.controls.value.touched && !bookForm.controls.value.valid">Informe um Valor</span>
  </div>

  <button type="submit" [disabled]="!bookForm.valid">Adicionar</button>
</form>
