<div style="text-align:center">
  <h1>Bem-vindas! {{title}}</h1>
</div>

<ul class="navegacao">
  <li class="link">
    <a routerLink="/component">
      Componentes
    </a>
  </li>
  <li class="link">
    <a routerLink="/services">
      Serviços
    </a>
  </li>
  <li class="link">
    <button (click)="navigateTo(['books'])">
      Livros
    </button>
  </li>
</ul>

<!-- <a routerLink="/component">
  Componentes
</a> <br>

<a routerLink="/services">
  Serviços
</a> <br>

<button (click)="navigateTo(['books'])">Livros
</button><br> -->

<router-outlet></router-outlet>
